body { margin: 0 ; padding: 0 ; }
* { font-family: Arial; font-size: 1em;}
h1 {background-color: black; color: white; margin:0px; font-size: 1em; padding-top: 10px; padding-bottom: 10px; text-align:center;}
input { margin-top: 5px; border-radius: 5px; padding: 5px; width: 80%;}
html { margin: 0px ; }
.styled-select { height: 29px; overflow: hidden; width: 240px; }
.styled-select select { background: transparent; border: none; font-size: 14px; height: 29px; padding: 5px; /* If you add too much padding here, the options won't show in IE */ width: 268px; } 
.styled-select.slate { margin-top: 10px; height: 34px; width: 85%; }
.styled-select.slate select { border: 1px solid #ccc; font-size: 16px; height: 34px; width: 85%; } 
button {
	width: 90%;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}
#ok { display: none;}
